Repository metal3-io/hardware-classification-controller, pull requests merged in 2021-05, with the labels that each got.

#73 User defined label value updated.
  controllers/baremetalhost_controller.go
  controllers/baremetalhost_controller_test.go
Labels: approved, lgtm, size/XS

#68 CPU Arch
  api/v1alpha1/hardwareclassification_types.go
  classifier/cpu.go
  classifier/cpu_test.go
  config/crd/bases/metal3.io_hardwareclassifications.yaml
  config/samples/metal3.io_v1alpha1_hardwareclassification.yaml
Labels: approved, lgtm, ok-to-test, size/M

#64 DiskSelector Implmentation
  api/v1alpha1/hardwareclassification_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  classifier/disk.go
  classifier/disk_test.go
  config/crd/bases/metal3.io_hardwareclassifications.yaml
  config/samples/metal3.io_v1alpha1_hardwareclassification.yaml
Labels: approved, lgtm, ok-to-test, size/L

#71 Api and User Guide Document
  docs/api.md
  docs/user-guide.md
Labels: approved, lgtm, ok-to-test, size/M
